<ion-view view-title="File Manager">
  <ion-content>
    <br /><br />
    <h1>File{{files.length > 1 ? 's' : ''}} uploaded</h1>

    <ul>
      <li ng-repeat="file in files | orderBy:'name'">
        Name : {{file.name}} &bull;
        <a href="#/details/{{$index}}">View graphics</a>
        <span ng-click="remove($index)">&bull; [remove]</span>
      </li>
    </ul>
    
    <form ng-submit="upload()">
      <fieldset style="width: 50%">
        <legend>Upload file</legend><br />
        <label for="uploadUrl">File name :</label>
        <input name="uploadUrl" ng-model="form.uploadUrl" placeholder="File name" length="100" />
        <input type="submit" value="Upload" />
      </fieldset>
    </form>
  </ion-content>
</ion-view>
